.vantagens-bg{
  background-color: var(--cor-b)
}

.vantagens h2{
 padding-top: 120px;
 padding-bottom: 60px;
}

.vantagens-lista{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(280px,max-content));
gap: 40px 80px;
padding-bottom: 120px;
}

.vantagens h2,
.vantagens img{
  margin-bottom: 8px;
}

@media (max-width:800px){

.vantagens h2{
  padding-top: 30px;
  padding-bottom: 30px;
}
  .vantagens-lista{
    gap: 20px 40px;
  }
}